.welcome-label {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.tab-title {
    -fx-padding: 16 0;
    -fx-font-size: 32;
    -fx-font-weight: bold;
    -fx-pref-height: 40;
}

.form-subtitle {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.tab-left-container {
    -fx-padding: 16 16 24 24;
    -fx-background-color: linear-gradient(from 0% 50% to 100% 50%, rgba(221, 221, 221, 1), rgba(255, 255, 255, 0));
}

.main-container {
    -fx-padding: 16 16 16 16;
    -fx-spacing: 8;
}

.table-column {
    -fx-font-size: 14;
    -fx-padding: 6;
}

.form-container {
    -fx-padding: 16 0 0 0;
}

.form-button {
    -fx-font-size: 14;
    -fx-pref-width: 72;
}

.form-header {
    -fx-padding: 8 0;
}

.form-label {
    -fx-font-size: 14;
}

.form-text-field {
    -fx-font-size: 14;
}

.main-tab {
    -fx-font-size: 14;
    -fx-pref-width: 96;
    -fx-pref-height: 32;
}